<p id="notice"><%= notice %></p>

<h1>Asistancees</h1>

<table>
  <thead>
    <tr>
      <th>Date admisision</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asistancees.each do |asistancee| %>
      <tr>
        <td><%= asistancee.date_admisision %></td>
        <td><%= asistancee.student %></td>
        <td><%= link_to 'Show', asistancee %></td>
        <td><%= link_to 'Edit', edit_asistancee_path(asistancee) %></td>
        <td><%= link_to 'Destroy', asistancee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asistancee', new_asistancee_path %>
